<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Terminator_Genesys_Item_Planer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Terminator_Genesys_Item_Planer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Terminator_Genesys_Item_Planer.Settings>
            <setting name="Auto_Forschung" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auto_Bau" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auto_Marsch" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auto_Kavallerie" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auto_Sturm" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auto_Infantrie" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auto_Belagerung" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auto_Luftwaffe" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auto_Munition" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auto_Iridium" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auto_Gesundheit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auto_Abwehr" serializeAs="String">
                <value>1</value>
            </setting>
        </Terminator_Genesys_Item_Planer.Settings>
    </applicationSettings>
    <userSettings>
        <Terminator_Genesys_Item_Planer.Properties.Settings>
            <setting name="Auto_Forschung" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="Auto_Bau" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="Auto_Marsch" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auto_Kavallerie" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auto_Sturm" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auto_Infantrie" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auto_Belagerung" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auto_Luftwaffe" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auto_Munition" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="Auto_Iridium" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="Auto_TruppenGesundheit" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Auto_TruppenAbwehr" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>english</value>
            </setting>
        </Terminator_Genesys_Item_Planer.Properties.Settings>
    </userSettings>
</configuration>